<!-- Agregar lanzamientos -->
<html lang="es">
<head>
    <title>Agregar lanzamiento</title>
</head>
<body>

<h2>Agregar lanzamiento</h2>

<!-- Formulario para agregar lanzamiento -->
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Guardar</button>
</form>

<hr>

<!-- Tabla para mostrar la lista de lanzamientos -->
<table border="1">
    <tbody>
        {% for lanzamiento in lanzamientos %}
        <tr>
            <td>{{ lanzamiento.title }}</td>
            <td>{{ lanzamiento.fecha }}</td>
            <td><a href="{{ lanzamiento.trailer }}" target="_blank">{{lanzamiento.trailer}}</a></td>
            <td>
                <a href="{% url 'editar_lanzamiento' lanzamiento.title %}">Editar</a>
                <a href="{% url 'borrar_lanzamiento' lanzamiento.title %}">Borrar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<button type='submit'><a href="{% url 'administrar_lanzamientos' %}">Volver al listado de lanzamientos</a></button>
<button type='submit'><a href="{% url 'index' %}">Volver al index</a></button>

</body>
</html>