<!-- agregar_juegos.html -->

<html lang="en">
<head>
    <!-- ... tus metaetiquetas ... -->
    <title>Agregar Juego</title>
</head>
<body>

<h2>Agregar Juego</h2>

<!-- Formulario para agregar juegos -->
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Guardar</button>
</form>

<hr>

<!-- Tabla para mostrar la lista de juegos -->
<table border="1">
    <tbody>
        {% for juego in juegos %}
        <tr>
            <td>{{ juego.id }}</td>
            <td>{{ juego.title }}</td>
            <td>
                <a href="{% url 'editar_juego' juego.id %}">Editar</a>
                <a href="{% url 'borrar_juego' juego.id %}">Borrar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<button type='submit'><a href="{% url 'administrar_juegos' %}">Volver al listado de juegos</a></button>
<button type='submit'><a href="{% url 'index' %}">Volver al index</a></button>

</body>
</html>