<!DOCTYPE html>
<html lang="zxx">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="description" content="juego Template">
    <meta name="keywords" content="juego, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inicio</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/plyr.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link rel="icon" href="{% static 'img/test_favicon.png' %}" type="image/png">
</head>

<body>
    <!-- Precargar la pagina -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header -->
    {% include 'header.html' %}
    
    <!-- Slides de juegos principales -->
    <section class="hero">
        <div class="container">
            <div class="hero__slider owl-carousel">
                <div class="hero__items set-bg" data-setbg="{% static 'img/hero/hero-1.jpg' %}">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <h2><a href="http://127.0.0.1:8000/detalles_juego/POPTLC" style="color: white; text-decoration: none;">Prince of Persia: The Lost Crown</a></h2>
                                <p>El esperado reboot de un clásico</p>
                                <a href="https://www.youtube.com/watch?v=n4vaxKwZ5rQ" target="_blank"><span>Ver trailer</span> <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hero__items set-bg" data-setbg="{% static 'img/hero/hero-2.jpg' %}">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <h2><a href="http://127.0.0.1:8000/detalles_juego/BG3" style="color: white; text-decoration: none;">Baldur's Gate 3</a></h2>
                                <p>Mejor juego del año 2023</p>
                                <a href="https://www.youtube.com/watch?v=1T22wNvoNiU" target="_blank"><span>Ver trailer</span> <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hero__items set-bg" data-setbg="{% static 'img/hero/hero-3.jpg' %}">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <h2><a href="http://127.0.0.1:8000/detalles_juego/FFVIIR" style="color: white; text-decoration: none;">Alan Wake 2</a></h2>
                                <p>Una obra experimental, excéntrica y fascinante.</p>
                                <a href="https://www.youtube.com/watch?v=dlQ3FeNu5Yw" target="_blank"><span>Ver trailer</span> <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Fin del slide -->

    <!-- Sección con próximos lanzamientos -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="popular__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>PROXIMOS LANZAMIENTOS</h4>
                                </div>
                                <p><a href="{% url 'administrar_lanzamientos' %}">Administrar lanzamientos</a></p>
                            </div>
                        </div>
                        <div class="row">
                            {% for lanzamiento in lanzamientos %}
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="{{ lanzamiento.image.url }}">                                  
                                    <div class="view"> {{ lanzamiento.fecha }}</div>
                                    </div>
                                    <div class="product__item__text">
                                    <h5><a href="{{ lanzamiento.trailer }}" target=_blank>{{ lanzamiento.title }}</a></h5>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="product__sidebar">
                        <div class="product__sidebar__view">
                            <div class="section-title">
                                <h5>TOP METACRITIC</h5>
                            </div>
                            <div class="filter__gallery">
                                {% for juego in juegos %}
                                    <div class="product__sidebar__view__item set-bg mix day years"
                                         data-setbg="{{ juego.image.url }}">
                                        <div class="ep">
                                            <img src="{% static 'img/sidebar/metacritic_icono.png' %}" alt="icono" class="icono">
                                            {{ juego.metacritic }}/100
                                        </div>
                                        <div class="view">Duración: {{ juego.duracion }}</div>
                                        <h5><a href="{{ juego.get_absolute_url }}">{{ juego.title }}</a></h5>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Fin de la sección de lanzamientos -->

<!-- Footer -->
{% include 'footer.html' %}
  <!-- Buscador -->
{% include 'buscador.html' %}

<!-- Js Plugins -->
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/player.js' %}"></script>
<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'js/mixitup.min.js' %}"></script>
<script src="{% static 'js/jquery.slicknav.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>


</body>

</html>