{% extends 'base_generic.html' %}

{% block title %}Lista de Usuarios{% endblock %}

{% block content %}
    <h1>Lista de Usuarios</h1>
    <ul>
        {% for usuario in usuarios %}
            <li>{{ usuario.username }} - {{ usuario.email }} - {{ usuario.is_superuser }}</li>
            <a href="{% url 'editar_usuario' usuario.pk %}">Editar</a>
            <a href="{% url 'borrar_usuario' usuario.pk %}">Borrar</a>
        {% endfor %}
    </ul>
    <a href="{% url 'agregar_usuario' %}">Agregar Usuario</a>
{% endblock %}