<!DOCTYPE html>
<html lang="zxx">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Valorar Juego: {{ juego.title }}</title>
    <!-- Agrega tus enlaces a CSS u otros recursos necesarios -->
</head>
<body>
    <h2>Valorar Juego: {{ juego.title }}</h2>

    <form method="post" action="{% url 'valorar_juego' juego_id=juego.id %}">
        {% csrf_token %}
        {{ form.as_p }}

        <input type="submit" value="Enviar Valoración">
    </form>

    <!-- Agrega cualquier otro contenido necesario -->

    <!-- Agrega tus enlaces a JavaScript u otros recursos necesarios -->
</body>
</html>